<style>
  :host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>

<header class="flex h-16 bg-gray-50 shadow-lg px-2 items-center">
    <img class="h-12" alt='Logo' src='/assets/logo.svg'>
    <h1 class="text-2xl font-semibold">Angular</h1>
</header>
<main class="flex-1 flex flex-col items-center justify-center">
  <div class='border border-gray-100 p-4 shadow-lg'>
    <h2 class="text-2xl border-gray-200 border-b px-2 pb-2">Lean Angular</h2>
    <div class='px-2 mt-2'>
      Ein schlanker Weg, Angular zu meistern.
    </div>
  </div>
</main>
