<style>
  :host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  mat-toolbar img {
    height: 48px;
    margin-right: 0.5rem;
  }

  main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  mat-card.teaser {
    min-width: 70%;
    margin: 0 1rem;
  }
  mat-card.teaser mat-card-title {
    padding: 0 1rem;
  }
  mat-card.teaser mat-card-content {
    padding: 1rem 1rem 0.5rem;
    font-size: 1rem;
  }
</style>

<header>
  <mat-toolbar>
    <img alt='Angular Logo' src='/assets/logo.svg'>
    <span>Angular</span>
  </mat-toolbar>
</header>
<main>
  <mat-card class="teaser">
    <mat-card-title>Lean Angular</mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-content>
      Ein schlanker Weg, Angular zu meistern.
    </mat-card-content>
  </mat-card>
</main>
